@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --h: 320;
  --c: 12;

  --background: lch(100 calc(2 * var(--c)) var(--h));
  --foreground: lch(27 calc(2 * var(--c)) var(--h));

  --card: lch(100 calc(2 * var(--c)) var(--h));
  --card-foreground: lch(27 calc(2 * var(--c)) var(--h));

  --popover: lch(100 calc(1.5 * var(--c)) var(--h));
  --popover-foreground: lch(27 calc(1.5 * var(--c)) var(--h));

  --primary: lch(30 calc(1.5 * var(--c)) var(--h));
  --primary-foreground: lch(98 calc(1.5 * var(--c)) var(--h));

  --secondary: lch(95 calc(3 * var(--c)) var(--h));
  --secondary-foreground: lch(30 calc(3 * var(--c)) var(--h));

  --muted: lch(95 calc(3 * var(--c)) var(--h));
  --muted-foreground: lch(60 calc(3 * var(--c)) var(--h));

  --accent: lch(95 calc(3 * var(--c)) var(--h));
  --accent-foreground: lch(30 calc(3 * var(--c)) var(--h));

  --destructive: lch(70 clamp(50, calc(50 * var(--c)), 75) 21);
  --destructive-foreground: lch(70 clamp(50, calc(50 * var(--c)), 75) 21);

  --border: lch(92 calc(2 * var(--c)) var(--h));
  --input: lch(92 calc(2 * var(--c)) var(--h));
  --ring: lch(70 calc(3 * var(--c)) var(--h));

  --chart-1: lch(65 calc(22 * var(--c)) 41);
  --chart-2: lch(60 calc(12 * var(--c)) 185);
  --chart-3: lch(40 calc(7 * var(--c)) 227);
  --chart-4: lch(83 calc(19 * var(--c)) 84);
  --chart-5: lch(77 calc(19 * var(--c)) 70);

  --radius: 0.625rem;

  --sidebar: lch(98 calc(1.5 * var(--c)) var(--h));
  --sidebar-foreground: lch(27 calc(2 * var(--c)) var(--h));
  --sidebar-primary: lch(30 calc(2 * var(--c)) var(--h));
  --sidebar-primary-foreground: lch(98 calc(2 * var(--c)) var(--h));
  --sidebar-accent: lch(95 calc(3 * var(--c)) var(--h));
  --sidebar-accent-foreground: lch(30 calc(3 * var(--c)) var(--h));
  --sidebar-border: lch(92 calc(2 * var(--c)) var(--h));
  --sidebar-ring: lch(70 calc(3 * var(--c)) var(--h));
}

.dark {
  --background: lch(3 calc(0.5 * var(--c)) var(--h));
  --foreground: lch(98 calc(2 * var(--c)) var(--h));

  --card: lch(27 calc(0.5 * var(--c)) var(--h));
  --card-foreground: lch(98 calc(0.5 * var(--c)) var(--h));

  --popover: lch(10 calc(3 * var(--c)) var(--h));
  --popover-foreground: lch(98 calc(0.5 * var(--c)) var(--h));

  --primary: lch(98 calc(0.5 * var(--c)) var(--h));
  --primary-foreground: lch(30 calc(0.5 * var(--c)) var(--h));

  --secondary: lch(18 calc(6 * var(--c)) var(--h));
  --secondary-foreground: lch(98 calc(0.5 * var(--c)) var(--h));

  --muted: lch(35 calc(3 * var(--c)) var(--h));
  --muted-foreground: lch(70 calc(3 * var(--c)) var(--h));

  --accent: lch(35 calc(3 * var(--c)) var(--h) / 0.3);
  --accent-foreground: lch(98 calc(0.5 * var(--c)) var(--h));

  --destructive: lch(40 calc(14 * var(--c)) 26);
  --destructive-foreground: lch(64 calc(24 * var(--c)) 25);

  --border: lch(16 calc(8 * var(--c)) var(--h));
  --input: lch(25 calc(8 * var(--c)) var(--h));
  --ring: lch(44 calc(8 * var(--c)) var(--h));

  --chart-1: lch(49 calc(24 * var(--c)) 264);
  --chart-2: lch(70 calc(17 * var(--c)) 162);
  --chart-3: lch(77 calc(19 * var(--c)) 70);
  --chart-4: lch(63 calc(27 * var(--c)) 304);
  --chart-5: lch(65 calc(25 * var(--c)) 16);

  --sidebar: lch(6 calc(3 * var(--c)) var(--h));
  --sidebar-foreground: lch(98 calc(0.5 * var(--c)) var(--h));

  --sidebar-primary: lch(49 calc(24 * var(--c)) 264);
  --sidebar-primary-foreground: lch(98 calc(0.5 * var(--c)) var(--h));

  --sidebar-accent: lch(35 calc(3 * var(--c)) var(--h));
  --sidebar-accent-foreground: lch(98 calc(0.5 * var(--c)) var(--h));

  --sidebar-border: lch(35 calc(2 * var(--c)) var(--h));

  --sidebar-ring: lch(44 calc(3 * var(--c)) var(--h));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground overflow-hidden;
  }
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
